body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}

.hero {
    text-align: center;
    padding: 60px;
}

.btn {
    background: #3b82f6;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
    border-bottom: 1px solid #334155;
}

img {
    display: block;
    margin: auto;
}